.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}

@media screen and (min-width: 630px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 880px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1216px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1480px) {
    .grid {
        grid-template-columns: repeat(5, 1fr);
    }
}